Flask
Flask-SQLAlchemy
Flask-WTF
WTForms
Flask-Login
Werkzeug
Flask-Migrate
shortuuid
requests
Flask-Cors
Flask-HTTPAuth
Flask-JWT-Extended
pyotp
qrcode[pil]
google-api-python-client google-auth google-auth-httplib2 google-auth-oauthlib schedule
cairocffi
weasyprint
