<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="learning">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | eZone</title>
    <link rel="stylesheet" href="../static/css/imports/main.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" preload>
    <link rel="stylesheet" href="../static/css/main/styles.css">
    <link rel="stylesheet" href="../static/css/main/search.css">
    <script src="../static/js/main/main.js"></script>
    <script src="../static/js/imports/SweetAlert2.js"></script>
    <link href="../static/css/imports/tailwind.css" rel="stylesheet">   
    <link rel="shortcut icon" href="https://i.ibb.co/TqBptXTP/image-removebg-preview.png" type='image/png'>

</head>
<body class="pd-0 mg-0 w-100 ovf-x-h ovf-y-a">

    <div class="sidebar col ps-fx wrap aln-cn h-100" style="z-index: 2000;">
        <div class="menu-toggle ps-abs c-p bdr-10 us-none flex col jst-cn gap-5">
            <span></span><span></span><span></span>
        </div>
        <div class="div flex col jst-cn aln-cn gap-10">
            <img class="logo pd-10 bdr-50" src="{{ school.logo }}" >
            <div class="name cl-w">{{ school.name }}</div>
        </div>
        <ul class="pc-ul flex col jst-cn grow gap-5">
            <li data-href="/staff_dashboard">
                <i class="fas fa-home"></i>
                <span class="tc none">Home</span>
            </li>
            <li data-href="/add_student">
                <i class="fas fa-user-plus"></i>
                <span class="tc none">Add Student</span>
            </li>
            {% if teacher and teacher.is_admin %}
            <li data-href="/add_teacher">
                <i class="fas fa-user-plus"></i>
                <span class="tc none">Add Teacher</span>
            </li>
            {% endif %}
            <li data-href="/students">
                <i class="fas fa-user-graduate"></i> 
                <span class="tc none">Your class</span>
            </li>
            <li data-href="/subjects">
                <i class="fas fa-clipboard"></i>
                <span class="tc none">Your Subjects</span>
            </li>
            <li data-href="/exams">
                <i class="fas fa-pen"></i>
                <span class="tc none">Exams</span>
            </li>
            <li data-href="/profile?dest=notifications">
                <i class="fas fa-bell"></i> 
                <span class="tc none">Announcements</span>
            </li>
            <li data-href="/profile?dest=all">
                <i class="fas fa-user-cog"></i>
                <span class="tc none">Profile Settings</span>
            </li>
            <li data-href="/staff_logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="tc none">Logout</span>
            </li>
        </ul>
        
        <div class="dev">
            <div class="dev-logo"></div>
            <div class="dev-name">Lutan Tech</div>
        </div>
    </div>

    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <script>
                Swal.fire({
                    icon: "{{ category }}",
                    title: "{{ message }}",
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000
                });
            </script>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="content flex row wrap">
        <div class="largeSearch w-100">
        <div class="search" style="flex-grow: none;">
        <form id="search-form" onsubmit="return false;">
            <input type="text" id="query" placeholder="Search students..." oninput="debouncedSearch()" required/>
            <select id="filter_type">
                <option value="">Filter</option>
                <option value="grade">Grade</option>
                <option value="adm">ADM.</option>
                <option value="st_gender">Gender</option>
                <option value="subjects">Subjects</option>
            </select>
            <button id="searchBtn" onclick="searchStudents()"><i class="fas fa-search"></i></button>
        </form>
    </div>
<script>
    const query = document.getElementById('query');
    var filterS = document.getElementById('filter_type')
    const serchBtn = document.getElementById('searchBtn')

    query.addEventListener('focusin', ()=>{
        filterS.style.borderTop = '2px solid black'
        query.style.borderTop = '2px solid black'
        query.style.borderBottom = '2px solid black'
        query.style.borderLeft= '2px solid black'
        filterS.style.borderRight = '0px'
        filterS.style.borderLeft = '0px'
        filterS.style.borderBottom = '2px solid black'
    })
    query.addEventListener('focusout', ()=>{
        filterS.style.borderTop = '1px solid black'
        query.style.borderTop = '1px solid black'
        query.style.borderBottom = '1px solid black'
        query.style.borderLeft= '1px solid black'
        filterS.style.borderRight = '0px'
        filterS.style.borderLeft = '0px'
        filterS.style.borderBottom = '1px solid black'
    })
    filterS.addEventListener('focusin', ()=>{
        filterS.style.borderRight = '0px !important'
        filterS.style.borderLeft = '0px !important'
        query.style.borderRight = '0px'
        query.style.borderTop = '2px solid'
        query.style.borderLeft = '2px solid'
        query.style.borderBottom = '2px solid'
        filterS.style.borderBottom = '2px solid black'
        filterS.style.borderTop = '2px solid black'
    })
</script>
        <!-- Results container -->
        <div id="resultsDiv" class="w-90"></div>
</div>
        {% block content %}
        {% endblock %}
    </div>

    <script>
        function searchStudents() {
            const query = document.getElementById('query').value;
            const filterType = document.getElementById('filter_type').value;
            if(query){
            fetch(`/search?query=${encodeURIComponent(query)}&filter_type=${encodeURIComponent(filterType)}`, {
                method: 'GET',
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => response.json())
            .then(data => {
                const resultsDiv = document.getElementById('resultsDiv');
                const search = document.querySelector('.search')
                resultsDiv.classList.add('active')
                search.classList.add('active')
                resultsDiv.innerHTML = '';
    
                if (!data.students || data.students.length === 0) {
                resultsDiv.classList.add('active')
                search.classList.add('active')

                    resultsDiv.innerHTML = '<p class="tc">No students found.</p>';
                    return;
                }
    
                const ul = document.createElement('ul');
                ul.classList.add('resultsLi');
                data.students.forEach(student => {
                    const li = document.createElement('li');
                    li.classList.add('flex')
                    li.innerHTML = `<img class='smallPic' src='${student.pic}'> <strong>${student.name}</strong>  (F ${student.grade}) - ADM:  <b>${student.adm}</b> -- <i>${student.st_gender}</i>`;
                    li.onclick = () => {
                        window.location.href = `/student?id=${student.id}`;
                    };
                    ul.appendChild(li);
                });
                resultsDiv.appendChild(ul);
            })
            .catch(error => {
                console.error('Oops, something went wrong! ', error);
                alrt('error', 'Failed to load results','Try again later.');
                resultsDiv.innerHTML = 'An Error Occurred'
            });
        }

    
      }  let debounceTimer;
        function debouncedSearch() {
            if(query && query != '' | query != ' '){
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(searchStudents, 300);
        } else{
            resultsDiv.innerHTML= 'Please type in something'

        }
    }

    
        // setTimeout(() => {
        //     window.location.reload()
        // }, 5000);
    </script>
</body>
</html>
