<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Portal Login</title>

  <link rel="stylesheet" href="../static/css/imports/main.css" />
  <link rel="stylesheet" href="../static/css/main/styles.css" />
  <link rel="shortcut icon" href="https://i.ibb.co/TqBptXTP/image-removebg-preview.png" type='image/png'>

  <script src="../static/js/imports/SweetAlert2.js"></script>
</head>

<body class="ovf-y-h h-100 pd-0" style="background-image: url(../static/images/login-backg.webp); background-blend-mode: multiply; background-color: rgb(150, 249, 247); margin: 2px;">
  <div class="container w-100 h-v100 flex col jst-cn aln-cn pd-0 mg-0">
    <img class='logo bdr-50 ar-1' width='100px' src='{{school.logo}}' style='width:100px !important'>
    <p id="p" class="sch-name">{{school.name}}</p>

    <form action="/portal" method="POST" class="div flex col bd-1 mg-5 mnw-300 w-90" style="background: rgb(255, 255, 255); box-shadow: 0px 5px 10px; min-height: 350px; justify-content: space-around;">
      <h2>Login</h2>
      <hr class="w-100"/>

      <label for="adm">Enter Your Reg No.</label>
      <input type="text" name="adm" class="input bd-1" required placeholder="Enter Registration Number"/>

      <label for="password">Password</label>
      <div style="position: relative;">
        <input type="password" id="password" name="password" class="input bd-1" required placeholder="Password" style="padding-right: 40px;"/>
        <span id="toggleEye" class="us-none" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%); cursor: pointer; font-size: 20px;">👁️</span>
      </div>

      <input type="submit" class="btn-s-pri bg-bl cl-w" value="Login"/>
    </form>
  </div>

  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <script>
          Swal.fire({
            icon: "{{ category }}",
            title: "{{ message }}",
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000
          });
        </script>
      {% endfor %}
    {% endif %}
    {% endwith %}
  </div>


  <script>
    const eyeToggle = document.getElementById("toggleEye");
    const passwordInput = document.getElementById("password");

    eyeToggle.addEventListener("click", () => {
      const isPassword = passwordInput.type === "password";
      passwordInput.type = isPassword ? "text" : "password";
      eyeToggle.textContent = isPassword ? "🙈" : "👁️";
    });
  </script>
</body>
</html>
