{% extends "layout.html" %}
{% block title %}Students{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/main/staff_dshb.css">

<h2 class="f-s-m">Your Students</h2>

<div class="table-responsive w-100 mg-t-10 ovf-x-a">
    <table class="table w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Adm No.</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr style="border-bottom: 2px solid grey; cursor: pointer;" class="f-s-s hover-effect"
                onclick="window.location.href='/student?id={{ student.id }}'">
                <td>{{ student.name }}</td>
                <td>{{ student.adm }}</td>
                <td>{{ student.st_gender }}</td>
                <td class="f-s-xs">{{ student.email }}</td>
                <td class="f-s-s">{{ student.phone1 }}</td>
                <td>
                    {% if student.balance < 0 %}
                        <span style="color: red;">Ksh {{ "{:,}".format(student.balance) }}</span>
                    {% else %}
                        Ksh {{ "{:,}".format(student.balance) }}
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" style="text-align: center;">No students found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- WhatsApp Bulk Message Button -->
<div class="mgt-10">
    <a href="/send-bulk-whatsapp" class="btn-s-pri bdr-40  bg-gr-0"><i class="fas fa-paper-plane"></i> Send WhatsApp Message</a>
</div>

{% endblock %}
