<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login</title>
    <link rel="stylesheet" href="../static/css/imports/main.css">  
    <link rel="stylesheet" href="../static/css/main/styles.css">
    <script src="../static/js/imports/SweetAlert2.js"></script>
    <link rel="shortcut icon" href="https://i.ibb.co/TqBptXTP/image-removebg-preview.png" type='image/png'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" preload>

<style>
        html, body{
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            height: 100%;
            background-image: url(../static/images/bg9.png);background-blend-mode: multiply;
            background-color: rgba(0, 166, 255, 0.403);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


</style>
</head>
<body class=" ovf-y-h h-100 pd-0">

    <div class="container w-100 h-v100 flex col jst-cn aln-cn pd-0 mg-0 ">    
            <form action="/portal" class="div flex col bd-1 mg-5  " style="background: rgba(255, 255, 255, 0.61);box-shadow: 0px 05px 05px rgba(0, 0, 0, 0.57); min-height: 350px; justify-content: space-around; width: 90% !important; backdrop-filter: blur(2px); max-width: 400px;" method="POST">
            <img class='logo bdr-50 ar-1' width='125px' src='{{school.logo}}' style='width:125px !important'>
                <p id="p" class="sch-name">{{school.name}}</p>
              <h2>Login</h2>
              <hr class="w-100"/>
        
              <label for="adm">Enter Your Reg No.</label>
              <input type="text" name="adm" class="input bd-1" required placeholder="Enter Registration Number"/>
        
              <label for="password">Password</label>
              <div style="position: relative;">
                <input type="password" id="password" name="password" class="input bd-1" required placeholder="Password" style="padding-right: 40px;"/>
                <span id="toggleEye" class="us-none" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%); cursor: pointer; font-size: 20px;"><i class="fas fa-eye"></i></span>
              </div>
        
              <input type="submit" class="btn-s-pri bg-bl cl-w" value="Login"/>
              <b><p><a class="cl-b t-d-n" href="/request_reset_password"> Forgot password? <i class="cl-gr-0f t-d-u">Reset</i></a></p></b>
            </form>
    </div>

<div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        Swal.fire({
            icon: "{{ category }}",
            title: "{{ message }}",
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000
        });
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

  </div>

  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <script>
          Swal.fire({
            icon: "{{ category }}",
            title: "{{ message }}",
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000
          });
        </script>
      {% endfor %}
    {% endif %}
    {% endwith %}
  </div>


  <script>
    const eyeToggle = document.getElementById("toggleEye");
    const passwordInput = document.getElementById("password");

    eyeToggle.addEventListener("click", () => {
      const isPassword = passwordInput.type === "password";
      passwordInput.type = isPassword ? "text" : "password";
      eyeToggle.innerHTML = isPassword ? "<i class='fas fa-eye-slash'></i>" : "<i class='fas fa-eye'></i>";
    });
  </script>
</body>
</html>
